backcall==0.1.0
certifi==2023.7.22
chardet==3.0.4
decorator==4.3.0
dropbox==9.0.0
idna==2.7
imutils==0.4.6
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.12.1
numpy==1.22.0
parso==0.3.1
pexpect==4.6.0
picamera==1.13
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.15.0
requests>=2.20.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3>=1.24.2
wcwidth==0.1.7
flask==2.3.2
Pillow>=6.2.2
scipy==1.10.0
opencv-contrib-python==4.2.0.32
